logs/*
backups/*
reports/*
test-data/*
restored-files/*
!logs/.gitkeep
!backups/.gitkeep
!test-data/.gitkeep
!reports/.gitkeep
!restored-files/.gitkeep

checksums/*
!checksums/.gitkeep

# The ! means "don't ignore this" - it's an exception to the previous ignore rule.
# .gitkeep is a convention (not a Git feature). It's an empty file used to:
# REMEMBER TO CREATE THESE .gitkeep files yourself!!!

# Keep otherwise empty directories in Git
# Git normally doesn't track empty directories
# By having this file, the directory structure is preserved when someone clones the repository

# Ignore .DS_Store files
.DS_Store